body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
}
/* Vertical menu  */

ul {
    
    list-style-type: none;
    margin: -204px 0px 0px -5px;
    padding: 10px;
    width: 60px;
    height: 92vh;
    background-color: #262626;
    border-right:1px solid #3F3F3F ;

    
}

li .I4 {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

/* Change the link color on hover */
li .I4:hover {
    background-color: #555;
    color: white;
}
.I4{
    width: 30px;
    display: flex;

    
}

    


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid #3f3f3f;
    
}
.logo img {
    width: 60px;
    padding: 5px;
}
.info {
    display: flex;
    align-items:center;
    padding-right: 10px;
    
}
.Notify {
    text-align: center;
    margin-right: 10px;
   
}
.profile{
    display: flex;
    padding: 10px;
    border-left: 1px solid #444;

}
.p1{
    padding-right: 10px;
}


.user-info {
    color: #a6a6a6;
    margin-right: 10px;
   
}
.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.Decives{
    margin-left: 100px;
    
}
.action-buttons {
    margin: -60px auto auto 82%;
   
}

.action-button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.action-button .delete {
    background-color: #444;
    
}

.action-button.edit {
    background-color: #444;
}

.action-button.add-device {
    background-color: #4CAF50;
    color: white;
}

.action-button:hover {
    opacity: 0.8;
}

/* search button  */
.controls {
    display: flex;
    margin-left: 80px;
    padding: 20px;
}
.search-container {
    display: flex;
    
    align-items: center;
    margin-right: 10px;
}

.search-container input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #fff;
}

.dropdown {
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #a6a6a6;
    margin-right: 10px;
}
.search-button {
    background:#333;
    border: none;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}
/* table  */
.table-container {
    
    width: 70%;
    margin-left:200px;
    margin-top: -650px;
    padding: 0px;
   
    
    
    
    background-color: #2b2b2b;
    border-radius: 8px;
    
}



.devices-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.devices-table th, .devices-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #3d3d3d;
}

.devices-table th {
    background-color: #333;
}

.devices-table tbody tr:hover {
    background-color: #3d3d3d;
}

.view-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.view-button:hover {
    background-color: #45a049;
}

/* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 4px;
    background-color: #333;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #4CAF50;
}

.pagination a:hover {
    background-color: #555;
} */

/* Full-width input fields */
input[type=text], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color:#333;
    display: inline-block;
    border: 1px solid #ccc;
    color: #ccc;
    box-sizing: border-box;
    
}
/* Set a style for all buttons */


button:hover {
    opacity: 0.8;
}
  
  /* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
  /* Center the image and position the close button */
  
  
  
  
.container {
    padding: 5px 15px 15px 15px ;
    color:white;
}
  
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #333; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.exit{
    padding: 10px;
    margin-left: 650px;
    background-color: #3F3F3F;
    border:1px solid whitesmoke;
    

}
.container1 {
    display: flex;
    margin-top: -100px;
}

.Text1{
    margin-right: 655px;
}
.Text2{
    margin-right: 735px;
}
.Text3{
    margin-right: 680px;
}
.container1{
    margin: auto auto auto auto ;
}

  
  /* Modal Content/Box */
.modal-content {
    background-color: #333;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
  
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}